body {
  display: flex;
  justify-content:start ;
  background-image:linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);  ;
  flex-direction: column;
  height: 90vh;
  margin:0px
}


header{
 display: flex;
 flex-direction: row;
 justify-content: space-between;

}


li{
  display: inline-block;
  margin:20px
}

figure{
/* background-color: blue ; */
background-image: url(./mountains-1412683__340.webp);
/* background-position: ; */
    margin: 0;
 height: 300px
}

main section{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

main section img{
  height: auto ;
  width: 250px;
}
.my-row{
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
}
.my-row section{
width: 68%;
}

.my-row h1{
  width: 30%;
  text-align: right;
  padding-right: 30px;
}